.home__hero-text {
    @apply bg-clip-text text-transparent;
    background-image: linear-gradient(90deg, rgba(255, 0, 153, 1), rgba(255, 153, 0, 1));
}

.home__link {
    @apply text-pink-500 hover:text-pink-600;
    background-image: linear-gradient(theme('colors.pink.500'), theme('colors.pink.500'));
}

.home__hero-container {
    @apply relative mb-16 xl:mb-28;
}

.home__hero-container::before {
    @apply absolute top-0 left-0 w-full -z-10 bg-no-repeat;
    height: 30rem;
    content: '';
    /* background-image: url('./background.svg'); */
}

.home__card {
    @apply text-center rounded-3xl drop-shadow-lg bg-white p-6 relative hover:scale-105 transition-transform;
}

.home__card > a {
    @apply block rounded-full bg-center bg-cover mx-auto mb-1;
    width: 6.25rem;
    aspect-ratio: 1;
}

.home__card-container {
    @apply grid mx-auto gap-y-8 mb-8;
    grid-template-columns: 90vw;
}

@screen sm {
    .home__card-container {
        @apply gap-y-10 mb-20;
        grid-template-columns: 512px;
    }

    .home__card {
        @apply grid p-0 text-left;
        grid-template-columns: 200px auto;
    }

    .home__card > a {
        @apply w-full h-full rounded-none rounded-l-3xl;
        aspect-ratio: unset;
    }
}

@screen xl {
    .home__card-container {
        @apply gap-x-16;
        grid-template-columns: 512px 512px;
    }
}
