@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        @apply text-neutral-900 font-normal;
        background-color: #fdfdfd;
    }

    .w-text {
        max-width: 60ch;
    }

    ::selection {
        @apply bg-pink-500 text-white;
    }
}

@layer utilities {
    .animate-underline {
        background-size: 0% 2px;
        background-repeat: no-repeat;
        background-position: left bottom;
        transition: background-size 300ms ease;
    }

    .animate-underline:hover {
        background-size: 100% 2px;
    }

    .bg-image-pink-500 {
        background-image: linear-gradient(theme('colors.pink.500'), theme('colors.pink.500'));
    }
}
