@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        @apply text-neutral-900 font-normal text-base;
        background-color: #FDFDFD;
    }

    .w-text {
        max-width: 60ch;
    }
}
